<section class="advantage">
    <div class="wrapper">
        <h2 class="advantage__title">Почему стоит зарегистрироваться в Join24</h2>
            <div class="advantage__content">
                <div class="advantage__wrap-img">
                    <img src="./img/quiz.png" alt="list-icon" class="advantage__img">
                    <span class="advantage__number">01</span>
                </div>
                <div class="advantage__content-item">
                    <h3 class="advantage__subtitle">Большой выбор</h3>
                    <p class="advantage__text">
                        Каждый день в агрегаторе регистрируются новые пользователи: перевозчики, представители различных предприятий, физические лица. База автомобилей, которые можно сдать или взять в аренду, а также использовать в качестве корпоративного такси, постоянно пополняется. Поэтому вы обязательно найдете подходящую машину по модели, классу, вместимости пассажиров и другим, не менее важным параметрам.
                    </p>
                </div>
            </div>
            <div class="advantage__content">
                <div class="advantage__wrap-img">
                    <img src="./img/clock.png" alt="clock" class="advantage__img">
                    <span class="advantage__number">02</span>
                </div>
                <div class="advantage__content-item">
                    <h3 class="advantage__subtitle">Надежность и безопасность</h3>
                
                    <p class="advantage__text">
                        Регистрируйтесь в Join24, если вы хотите сэкономить время на организации деловых поездок по городу, корпоративной туристической поездки, встречи гостей с аэропорта или вокзала, перевозки топ-менеджеров и сотрудников, работающих посменно и в поздние часы, доставке товаров клиентам. Если раньше приходилось сравнивать цены в нескольких компаниях и размышлять над окончательным решением, то теперь, благодаря прозрачным условиям аренды бизнес-такси, вы сможете принять его за один день. Так же большим преимуществом является то, что вы можете заказать поездку как по конкретному маршруту, так и просто на необходимое количество часов. 
                    </p>
                </div>
            </div>
    </div>
</section>
