<section class="apps" id="sevices">
    <div class="wrapper">
        <p class="apps__discription">Транспортный сервис Join24 – это удобное приложение с личным кабинетом, CRM-системой, понятным интерфейсом, которое поможет быстро найти автомобиль бизнес класса и выше для корпоративных перевозок. Площадка работает по аналогии с известными сервисами заказа такси. За пару кликов вы найдете готовую к поездке машину.</p>
        <div class="apps__wrap-app">
            <a href="https://play.google.com/store">
                <img src="./img/appStore.png" alt="appstore" class="apps__app">
            </a>
            <a href="https://www.apple.com/itunes/">
                <img src="./img/googlePlay.png" alt="googleplay" class="apps__app">
            </a>
        </div>
    </div>
</section>
