<section class="apps apps--link">
    <div class="wrapper">
        <h4 class="apps__title">Не упускайте новые возможности</h4>  
        <p class="apps__discription apps__discription--link">Поддержка агрегатора Join 24 оперативно работает круглосуточно. Это значит, что ни одна текущая просьба не останется без внимания, и вы сможете организовывать поездки в штатном режиме. Регистрируйтесь и начинайте пользоваться новыми возможностями транспортного сервиса для бизнеса прямо сейчас.</p>
        <div class="apps__wrap-app">
            <a href="#">
                <img src="./img/appStore.png" alt="appstore" class="apps__app">
            </a>
            <a href="#">
                <img src="./img/googlePlay.png" alt="googleplay" class="apps__app">
            </a>
        </div>
    </div>
</section>
