<section class="rent" id="customer">
    <div class="wrapper">
        <div class="rent__content">
            <h2 class="rent__title">Большой выбор</h2>
            <p class="rent__text">Автомобили сервиса не раскрашены в цвета транспортных компаний.<br> <p class="rent__text rent__text--margin">Все модели автомобилей, зарегистрированных в Join24, подразделяются на четыре категории:</p>
            </p>
           <ul class="rent__list">
               <li class="rent__item"><span class="rent__text-bold">Комфорт. </span>Октавия, Фокус, Элантра</li>
               <li class="rent__item"><span class="rent__text-bold">Комфорт+. </span>Оптима, Камри, Сонат</li>
               <li class="rent__item"><span class="rent__text-bold">Бизнес. </span>Е-класс, BMW5, А6</li>
               <li class="rent__item"><span class="rent__text-bold">Премиум. </span>S-класс, BMW7, А8</li>
               <li class="rent__item"><span class="rent__text-bold">Элит. </span>Майбах, РолсРойс, Бентли</li>
               <li class="rent__item"><span class="rent__text-bold">Минивэн VIP. </span>Mersedes V-класс</li>
               <li class="rent__item"><span class="rent__text-bold">Минивэн. </span>Hyundai H1, Каравел, Мерс Vito</li>
               <li class="rent__item"><span class="rent__text-bold">Минивэн универсал. </span> Ситроен С4 грант пикассо, Кади, Форд Галакси</li>
           </ul>
        </div>
    </div>
</section>   
