<section class="service">
    <div class="wrapper">
        <h2 class="service__title">почему арендовать автомобиль выгоднее, 
            чем приобретать в собственность</h2>
        <p class="service__subtitle">Иметь свой автомобиль всегда было престижно. Но в современных реалиях арендовать автомобиль выгоднее, чем приобретать в собственность. И мы докажем, почему.</p>
        <div class="service__items">
            <span class="service__item"><span class="service__number">01</span>Если важен престиж и статус, а на приобретение желаемого авто недостаточно средств. Тем более, что после покупки машина всегда дешевеет на 30-50%. Зачем приобретать падающий актив?</span>
           <span class="service__item"><span class="service__number">02</span>Вы сэкономите на страховках, налогах, топливе, амортизации, сезонной замене шин.</span>
            <span class="service__item"><span class="service__number">03</span>Исключается риск, когда нужно срочно куда-то поехать, а аккумулятор разряжен.</span>
            <span class="service__item"><span class="service__number">04</span>В случае неисправности к вам приедет подменная машина. Расходы, связанные с эвакуацией и ремонтом берет на себя собственник.</span>
            <span class="service__item"><span class="service__number">05</span>Вы всегда можете поменять модель автомобиля по цене тарифа на аренду.</span>
        </div>
        <p class="service__subtitle">Подсчитайте стоимость одного часа или дня аренды автомобиля. А теперь сравните с расходами, которые вы бы понесли, если машина была бы в собственности. Не лучше ли направить сэкономленные деньги куда-то еще?</p>
    </div>
</section>
