<section class="target">
    <div class="wrapper">
        <h2 class="target__title">С какой целью чаще всего заказывают в аренду</h2>
        <span class="target__subtitle">Автобусы, микроавтобусы и минивэны можно использовать с любой целью:</span>
        <div class="target__items">
            <div class="target__item">
                <div class="target__item-wrap">
                    <div class="target__img-wrap">
                        <img src="./img/electric-bus.png" alt="" class="target__img">
                    </div>
                    <span class="target__description">трансферты в аэропорты и вокзалы Москвы</span>
                </div>
            </div>
            <div class="target__item">
                <div class="target__item-wrap">
                    <div class="target__img-wrap">
                        <img src="./img/bus.png" alt="" class="target__img">
                    </div>
                    <span class="target__description">экскурсионные,  туристические и свадебные поездки</span>
                </div>
            </div>
            <div class="target__item">
                <div class="target__item-wrap">
                    <div class="target__img-wrap">
                        <img src="./img/electric-bus1.png" alt="" class="target__img">
                    </div>
                    <span class="target__description">корпоративная развозка сотрудников предприятий</span>
                </div>
            </div>
            <div class="target__item">
                <div class="target__item-wrap">
                    <div class="target__img-wrap">
                        <img src="./img/school-bus.png" alt="" class="target__img">
                    </div>
                    <span class="target__description">развозка детей из образовательных учреждений</span>
                </div>
            </div>
            <div class="target__item">
                <div class="target__item-wrap">
                    <div class="target__img-wrap">
                        <img src="./img/team.png" alt="" class="target__img">
                    </div>
                    <span class="target__description">иные поездки, где требуется перевозка большого количества пасса</span>
                </div>
            </div>
        </div>
        <p class="target__text">Каждое транспортное средство оборудовано мягкими выдвижными креслами, кондиционером, системой вентиляции. Это особенно важно для дальних поездок.</p>
    </div>
</section>
