<section class="transportation" id="carrier">
    <div class="wrapper">
        <h3 class="transportation__title">Транспортным компаниям,<br> 
            ориентированным на корпоративные перевозки</h3>
        <div class="transportation__content">
            <p class="transportation__content-text">Рынок такси для бизнеса в Москве имеет огромный потенциал, так как в город каждый день прибывают сотни новых жителей, а значит, и потенциальных клиентов. Постоянно растет спрос на деловые поездки и трансфер партнеров по бизнесу. Но даже крупные транспортные компании, имеющие большой автопарк в собственности, не застрахованы от возможных простоев, а значит, и убытков. Благодаря сервису Join 24 эта проблема будет решена раз и навсегда, так как ваши ТС будут регулярно показываться на интерактивной карте в онлайн-режиме. Ваше транспортное средство будет востребовано постоянно.</p>
            <p class="transportation__content-text">Компаниям, которые только начинают бизнес, тоже выгодно зарегистрироваться через Join 24. Не придется тратиться на дорогостоящую рекламу, подавать объявления и искать всевозможные площадки, чтобы заявить о себе. Не важно, сколько лет вы на рынке, важно, какие автомобили готовы зарегистрировать в приложении. Клиенты сами найдут вас благодаря поисковой базе.</p>
        </div>
        <span class="transportation__subtext">Для того чтобы начать полноценно работать, необходимо заполнить анкету в качестве перевозчика, чтобы получить доступ к административной панели. Обязательно нужно приложить:</span>
        <div class="transportation__needs">
            <span class="transportation__item">свидетельство о регистрации автомобиля (СТС);</span>
            <span class="transportation__item">паспорт машины (ПТС);</span>
            <span class="transportation__item">полис ОСАГО или КАСКО, действующий на момент заполнения анкеты и подачи документов;</span>
            <span class="transportation__item">удостоверение личности и фотография водителя.</span>
        </div>
        <span class="transportation__subtext">Далее руководитель регистрирует ТС и водителей в административной панели, выдавая каждому персональный логин и пароль. С данного момента водители смогут выполнять заказы.</span>
    </div>
</section>
