<section class="whyMe">
    <div class="wrapper">
        <h4 class="whyMe__title">Заказать корпоративное такси в Москве</h4>
        <div class="whyMe__content">
            <div class="whyMe__item">
                <div class="whyMe__icon">
                    <img class="whyMe__img" src="./img/group.png" alt="deal">
                </div>
                <p class="whyMe__text">Воспользоваться услугами бизнес-такси могут юридические лица и ИП.</p>
            </div>
            <div class="whyMe__item">
                <div class="whyMe__icon">
                    <img class="whyMe__img" src="./img/test.png" alt="deal">
                </div>
                <p class="whyMe__text">Сначала руководителю нужно заполнить анкету, чтобы получить доступ к административной панели. Затем он регистрирует сотрудников, выдавая каждому индивидуальный логин и пароль, и пополняет баланс.</p>
            </div>
            <div class="whyMe__item">
                <div class="whyMe__icon">
                    <img class="whyMe__img" src="./img/money.png" alt="deal">
                </div>
                <p class="whyMe__text">Цена заказа расчитывается автоматически и является фиксированной. Это позволяет оптимизировать бюджет и сократить издержки. Дополнительно вы экономите на топливе, техосмотре, налогах, оплате полиса. Сервис Join24 гарантирует, что к вам приедет технически проверенное транспортное средство.</p>
            </div>
        </div>
    </div>
</section>
